.clear {
  background-color: yellow;
  color: black;
  font-size: 1.3em;
  margin-top: 3px;
  padding: 3px 0;
  border: 3px outset black;
  border-radius: 4px;
  cursor: pointer;
  min-width: 250px;
}
.pickRandom {
  background-color: rgb(17, 79, 179);
  color: white;
  font-size: 1.3em;
  margin-top: 3px;
  padding: 3px 0;
  border: 3px outset black;
  border-radius: 4px;
  cursor: pointer;
  min-width: 250px;
}

button:disabled {
  color: rgb(140, 140, 140);
  background-color: rgb(200, 200, 200);
  cursor: default;
}
