.usernameInput {
  font-size: 1.2em;
  margin-top: 3px;
  min-width: 244px;
  padding: 3px 0;
  border: 3px solid black;
  border-radius: 4px;
  text-align: center;
}
.fetchButton {
  background-color: rgb(17, 79, 179);
  color: white;
  font-size: 1.3em;
  margin-top: 3px;
  padding: 3px 0;
  border: 3px outset black;
  border-radius: 4px;
  cursor: pointer;
  min-width: 250px;
}
